body 
{
    /* background-image: url("../images/background.jpg"); */
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    font-family: Arial;
}

#video-background 
{
      position: fixed;
      right: 0; 
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      width: auto; 
      height: auto;
      z-index: -1000;
      filter:opacity(75%);
}

#header
{
    height: 70px;
    background-color: rgb(0, 0, 0);
    color: white;
}

#playButton
{
    width: 50% ;
    background-color: ghostwhite;
    border-radius: 12px;
}

#playButton:hover
{
    background-color: rgb(240, 240, 240);
}

#logo
{
    color: white;
    text-transform: uppercase;
    font-size: 37px;
    font-weight: bold;
    float: left;
    margin-top: 14px;
    margin-left: 30px;
}

#main-nav
{
    float: right;
    margin-right: 10
}

#main-nav ul
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#main-nav li
{
    display: inline;
} 

#main-nav li a
{
    color: white;
    display: inline-block;
    width: 100px;
    height: 45px;
    text-align: center;
    background-color: rgb(128, 31, 36);
    padding-top: 22.5px;
}

#main-nav li a:hover
{
    background-color: red;
}

#indexDiv h1
{
    text-align: center;
    color: white;
    font-size: 80px;
    margin-bottom: 0px;
}

#indexDiv h2
{
    text-align: center;
    color: white;
    font-size: 35px;
    margin-top: 0px;
}

#indexDiv a
{
    text-align: center;
    background-color: #D2474D;
    width: 200px;
    padding: 10px;
    color: white;
    border: 2px solid #fff;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

#indexDiv a:hover
{
    background-color: rgb(223, 91, 98);
}

#mainPlayDiv
{
    margin: 0 auto;
    width: 75%;
    height: 720px;
    margin-top: 50px;
}

#albumDiv
{
    width: 19%;
    height: 100%;
    overflow: hidden;
    float: right;
    margin-right: 5px;
}

#albumDiv img
{
    width: 100%;
    height: 250px;
    border-radius: 7px;
}

#albumDiv img:hover
{
    opacity: 0.8;
}

#playlistDiv
{
    border-radius: 10px;
    background-color: white;
    width: 60%;
    margin-right: 9%;
    height: 680px;
    float: right;
    overflow: hidden;
    padding: 20px;
    padding-top: 1px;
}

tr th
{
    width: 300px;
    text-align: left;
}

audio
{
    width: 100%;
}

iframe
{
    width: 100%;
}

#cleardiv
{
    clear: both;
}
